stages:
  - build_n_test

variables:
  PROJECT_NAME: spiner
  ENABLE_CDASH: true

include:
 - .gitlab/common.yml


# Spack environments are defined in
# https://re-git.lanl.gov/xcap/deployment/-/tree/xcap-spack-env/systems
# for each system and for each XCAP project.
#
# The project configuration can be found at the top of
# .gitlab/build_and_test.sh.
#
# Each environment is uniquely identified by
# ${SYSTEM_NAME}/${PROJECT_GROUP}/${PROJECT_NAME}/${SPACK_ENV_NAME}
#
# For creating a new custom environment for testing use the special
# 'custom-spec' or 'custom-file` environments.
#
# The 'custom-spec` environment allows you specify an arbitrary Spack spec to
# be added to a system-specific empty Spack environment. Use the SPACK_ENV_SPEC
# environment variable to define the spec you want to add.

# The 'custom-file` environment allows you to manually define an environment
# from scratch.  Use the SPACK_ENV_FILE environment variable to specify the
# path to the YAML file you want to use. Note, the environment will be placed
# in ${SYSTEM_NAME}/${PROJECT_GROUP}/${PROJECT_NAME}/custom-file/spack.yaml and
# can therefore make relative includes to common configuration files.


prereq_offline_deps:
  stage: build_n_test
  extends: [.ascgit_job, .darwin_job]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs: []
  script:
   - source .gitlab/download_prereqs.sh
  artifacts:
    expire_in: 2 days
    paths:
      - extern

openmpi_gcc:
  extends: [.ascgit_job, .darwin_job, .darwin_regular_job, .build_and_test]
  needs: [prereq_offline_deps]
  variables:
    SPACK_ENV_NAME: openmpi-gcc
    SUBMIT_TO_CDASH: "${ENABLE_CDASH}"

openmpi_cuda_gcc_volta:
  extends: [.ascgit_job, .darwin_job, .darwin_regular_job, .build_and_test]
  needs: [prereq_offline_deps]
  variables:
    SPACK_ENV_NAME: openmpi-cuda-gcc-volta
    SCHEDULER_PARAMETERS: "-N 1 --qos=debug -p volta-x86 -C cpu_family:haswell --time=02:00:00"
    SUBMIT_TO_CDASH: "${ENABLE_CDASH}"

openmpi_cuda_gcc_ampere:
  extends: [.ascgit_job, .darwin_job, .darwin_regular_job, .build_and_test]
  needs: [prereq_offline_deps]
  variables:
    SPACK_ENV_NAME: openmpi-cuda-gcc-ampere
    SCHEDULER_PARAMETERS: "-N 1 --qos=debug -p shared-gpu-ampere"
    SUBMIT_TO_CDASH: "${ENABLE_CDASH}"

venado_craympich_cuda_gracehopper_gcc:
  extends: [.ascgit_job, .venado_job, .venado_regular_job, .build_and_test]
  needs: [prereq_offline_deps]
  variables:
    SPACK_ENV_NAME: craympich-cuda-gracehopper-gcc
    SUBMIT_TO_CDASH: false
    BUILD_WITH_CTEST: "${ENABLE_CDASH}"
    SUBMIT_ON_ERROR: false          # Venado nodes don't have network access, don't try to send from compute node
    SUBMIT_AFTER: "${ENABLE_CDASH}" # after_script runs on a network connected system

venado_craympich_cuda_gracehopper_nvhpc:
  extends: [.ascgit_job, .venado_job, .venado_regular_job, .build_and_test]
  needs: [prereq_offline_deps]
  variables:
    SPACK_ENV_NAME: craympich-cuda-gracehopper-nvhpc
    SUBMIT_TO_CDASH: false
    BUILD_WITH_CTEST: "${ENABLE_CDASH}"
    SUBMIT_ON_ERROR: false          # Venado nodes don't have network access, don't try to send from compute node
    SUBMIT_AFTER: "${ENABLE_CDASH}" # after_script runs on a network connected system

rzvernal_craympich_rocm_mi250_cce:
  extends: [.ascgit_job, .rzvernal_job, .rzvernal_regular_job, .build_and_test]
  needs: [prereq_offline_deps]
  variables:
    SPACK_ENV_NAME: craympich-rocm-gfx90a-cce
    SUBMIT_TO_CDASH: false
    BUILD_WITH_CTEST: "${ENABLE_CDASH}"
    SUBMIT_ON_ERROR: false          # RZvernal nodes don't have network access, don't try to send from compute node
    SUBMIT_AFTER: "${ENABLE_CDASH}" # after_script runs on a network connected system

rzadams_craympich_rocm_mi300_cce:
  extends: [.ascgit_job, .rzadams_job, .rzadams_regular_job, .build_and_test]
  needs: [prereq_offline_deps]
  variables:
    SPACK_ENV_NAME: craympich-rocm-gfx942-cce
    SUBMIT_TO_CDASH: false
    BUILD_WITH_CTEST: "${ENABLE_CDASH}"
    SUBMIT_ON_ERROR: false          # RZadams nodes don't have network access, don't try to send from compute node
    SUBMIT_AFTER: "${ENABLE_CDASH}" # after_script runs on a network connected system
