###################
# Global Settings #
###################

stages:
  - static_analysis
  - build_n_test

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  SPINER_GCC_VERSION: "9.3.0"
  SPINER_SPACK_SPEC: "spiner@main%gcc@${SPINER_GCC_VERSION}"

before_script:
  - export HOME=${CI_PROJECT_DIR}
  - export TMPDIR=${CI_PROJECT_DIR}
  - cd ${CI_PROJECT_DIR}
  - unset SPACK_ROOT
  - echo "Spack Version:${XCAP_OSS_SPACK_REF}"
  - git clone https://github.com/spack/spack.git
  - cd spack && git checkout ${XCAP_OSS_SPACK_REF##*-} && cd ${CI_PROJECT_DIR}
  - export SPACK_ARCH=`./spack/bin/spack arch`
  - echo ${SPACK_ARCH}
  - export PLATFORM="${SPACK_ARCH%%-*}"
  - echo ${PLATFORM}
  - mkdir -p ${CI_PROJECT_DIR}/spack/etc/spack/${PLATFORM}
  - cp ${XCAP_OSS_SPACK_DIR}/etc/spack/*.yaml ${CI_PROJECT_DIR}/spack/etc/spack/
  - cp ${CI_PROJECT_DIR}/.gitlab-ci/config/spack/*.yaml ${CI_PROJECT_DIR}/spack/etc/spack/
  - sed -i "s;XCAP_OSS_SPACK_DIR_TMP;${XCAP_OSS_SPACK_DIR};g" "${CI_PROJECT_DIR}/spack/etc/spack/upstreams.yaml"
  - rm ${CI_PROJECT_DIR}/spack/etc/spack/repos.yaml
  - cp ${XCAP_OSS_SPACK_DIR}/etc/spack/${PLATFORM}/*.yaml ${CI_PROJECT_DIR}/spack/etc/spack/${PLATFORM}/
  - source ${CI_PROJECT_DIR}/spack/share/spack/setup-env.sh
  - spack compiler list
  - spack repo add --scope site ${CI_PROJECT_DIR}/spack-repo
  - spack repo list
  - mkdir -p ${CI_PROJECT_DIR}/spack_env
  - spack env create --without-view -d ${CI_PROJECT_DIR}/spack_env
  - spack env activate -d ${CI_PROJECT_DIR}/spack_env
  - spack dev-build -q ${SPINER_SPACK_SPEC} || ( cat spack-build-out.txt && exit 1 )
  - export SPINER_CMD="spack install --show-log-on-error ${SPINER_SPACK_SPEC}"
  - ( echo "$SPINER_CMD" && $SPINER_CMD )
  - source ${CI_PROJECT_DIR}/spack/share/spack/setup-env.sh
  - spack module tcl refresh -y
  - spack env loads -r -x spiner
  - export modName="${CI_PROJECT_DIR}/spack_env/loads"
  - sed -i "1s;^;module load gcc/${SPINER_GCC_VERSION}\n;" ${modName}
  - sed -i "1s;^;#%Module\n;" ${modName}

##########################
# Build Matrix Variables #
##########################

.buildtype_debug: &buildtype_debug
  BUILD_TYPE: "Debug"

.buildtype_release: &buildtype_release
  BUILD_TYPE: "Release"

.skylake: &skylake
    SCHEDULER_PARAMETERS: "--nodes=1 --partition=skylake-gold,skylake-platinum"

.power9: &power9
    SCHEDULER_PARAMETERS: "--nodes=1 --partition=power9"

#################
# General Setup #
#################

.job: &job_def
  tags:
    - darwin-slurm-shared
  variables:
    SCHEDULER_PARAMETERS: "--nodes=1 --partition=skylake-gold,skylake-platinum"
  only:
    refs:
      - main
      - merge_requests
  except:
    refs:

.artifacts: &artifacts_def
  artifacts:
    name: "spiner-${CI_COMMIT_REF_SLUG}-${CI_JOB_NAME}-${CI_JOB_ID}"
    paths:
      - ${CI_PROJECT_DIR}/build
      - ${CI_PROJECT_DIR}/spack
      - ${CI_PROJECT_DIR}/spack_env
    when: always
    expire_in: 3 hours
  dependencies: []

#######################
# Job Script Template #
#######################

.clang-format:
  stage: static_analysis
  variables:
    GIT_SUBMODULE_STRATEGY: none
  script:
    - cd ${CI_PROJECT_DIR}
    - mkdir clang_format_env
    - spack env create --without-view -d ${CI_PROJECT_DIR}/clang_format_env
    - spack env activate -d ${CI_PROJECT_DIR}/clang_format_env
    - spack install --show-log-on-error spiner+format%gcc@${SPINER_GCC_VERSION}
    - spack module tcl refresh -y
    - spack env loads -r
    - source ${CI_PROJECT_DIR}/clang_format_env/loads
    - clang-format -version
    - find ${CI_PROJECT_DIR} -regex '.*\.\(cpp\|hpp\)' | xargs clang-format -style=file -i && git diff --exit-code --ignore-submodules

.sphinx-doc:
  stage: static_analysis
  variables:
    GIT_SUBMODULE_STRATEGY: none
  script:
    - cd ${CI_PROJECT_DIR}
    - mkdir sphinx_doc_env
    - spack env create --without-view -d ${CI_PROJECT_DIR}/sphinx_doc_env
    - spack env activate -d ${CI_PROJECT_DIR}/sphinx_doc_env
    - spack install --show-log-on-error spiner+doc%gcc@${SPINER_GCC_VERSION}
    - spack module tcl refresh -y
    - spack env loads -r
    - source ${CI_PROJECT_DIR}/sphinx_doc_env/loads
    - cd ${CI_PROJECT_DIR}/doc/sphinx
    - make html
    - rm -rf ${CI_PROJECT_DIR}/public
    - mv _build/html ${CI_PROJECT_DIR}/public

.test:
  stage: build_n_test
  extends:
    - .job
  script:
    - cd ${CI_PROJECT_DIR}
    - module purge
    - module use ${CI_PROJECT_DIR}/spack_env
    - module load loads # module load compiler, deps, etc.
    - module list
    - mkdir -p build install
    - cd build
    - |
      cmake -DBUILD_TESTING=ON \
            -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/install \
            ..
    - make -j
    - make install
    - make test
    - make convergence

########
# Jobs #
########

format:
  <<: *job_def
  extends: .clang-format
  allow_failure: true

pages_check:
  <<: *job_def
  extends: .sphinx-doc
  only:
    refs:
      - merge_requests
      - pipelines
  except:

pages:
  <<: *job_def
  extends: .sphinx-doc
  artifacts:
    paths:
      - public
  only:
    refs:
      - main
  except:
    refs:
      - pipelines

gnu_skylake:
  <<: *job_def
  extends: .test
  variables:
    <<: *skylake

gnu_power9:
  <<: *job_def
  extends: .test
  variables:
    <<: *power9

